@page "/bots/{id}";
@using Shares.Model;
@using Shares.Enum;
@using Services;
@using ValCavalluBot.wwwroot.Components;
@using ValCavalluBot.Classes;
@inject NavigationManager NavigationManager;
@inject ISettingsService SettingsService;
@inject IBotManagerService BotManagerService;
@inject IGRPCService GRPCService;





<link rel="stylesheet" href="/css/site.css" />

<h3>Bot Einstellungen (@Id)</h3>
<div class="row mt-3 mb-3">
    <div class="col-md">
        <label class="font-weight-bold">Howrse Benutzername</label>
        <input class="form-control" @bind-value="Bot.Settings.Credentials.HowrseUsername" />
    </div>
    <div class="col-md">
        <label class="font-weight-bold">Howrse Password</label>
        <input type="password" class="form-control" @bind-value="Bot.Settings.Credentials.HowrsePassword" />
    </div>
    <div class="col-md">
        <label class="font-weight-bold">Howrse Server</label>
        <input class="form-control" @bind-value="Bot.Settings.Server" />
    </div>
</div>
<hr />
<div class="row mt-3 mb-3">
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/hay.svg" class="actionImage mx-auto" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault1" @bind="@Bot.Settings.Actions.Food.PerformFoodAction">
                    <label class="custom-control-label" for="flexCheckDefault1">
                        Füttern
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/drop.svg" class="actionImage mx-auto" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault2" @bind="@Bot.Settings.Actions.Drink.PerformDrinkAction">
                    <label class="custom-control-label" for="flexCheckDefault2">
                        Tränken
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/dog-training.svg" class="actionImage mx-auto pt-3 pb-n3" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault3" @bind="@Bot.Settings.Actions.Stroke.PerformStrokeAction">
                    <label class="custom-control-label" for="flexCheckDefault3">
                        Streicheln
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/brush.svg" class="actionImage mx-auto pt-3 pb-n3" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault4" @bind="@Bot.Settings.Actions.Groom.PerformGroomAction">
                    <label class="custom-control-label" for="flexCheckDefault4">
                        Striegeln
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/carrot.svg" class="actionImage mx-auto pt-3 pb-n3" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault5" @bind="@Bot.Settings.Actions.Carrot.PerformCarrotAction">
                    <label class="custom-control-label" for="flexCheckDefault5">
                        Karotte
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/energy-drink.svg" class="actionImage mx-auto pt-3 pb-n3" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault6" @bind="@Bot.Settings.Actions.Mash.PerformMashAction">
                    <label class="custom-control-label" for="flexCheckDefault6">
                        Mash
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/sleeping.svg" class="actionImage mx-auto pt-3 pb-n3" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault7" @bind="@Bot.Settings.Actions.Sleep.PerformSleepAction">
                    <label class="custom-control-label" for="flexCheckDefault7">
                        Schlafen
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault8" @bind="@Bot.Settings.Actions.Sleep.PerformRCRegistrationAction">
                    <label class="custom-control-label" for="flexCheckDefault8">
                        Einstallen
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/pyramid.svg" class="actionImage mx-auto pt-2 pb-n2" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault9" @bind="@Bot.Settings.Actions.Age.PerformAgingAction">
                    <label class="custom-control-label" for="flexCheckDefault9">
                        Altern
                    </label>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="row mt-3 mb-3">
    <div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/log.svg" class="actionImage mx-auto pt-2 pb-n2" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault10" @bind="@Bot.Settings.Actions.Mission.PerformMissionAction">
                    <label class="custom-control-label" for="flexCheckDefault10">
                        Mission
                    </label>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md d-flex justify-content-center mt-2 mb-2">
        <div class="card d-flex justify-content-center" style="width: 100%;">
            <img src="/ICON/Flaticon/SVG/log.svg" class="actionImage mx-auto pt-2 pb-n2" />
            <div class="card-body text-center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefault10" @bind="@Bot.Settings.Actions.Mission.PerformMissionAction">
                    <label class="custom-control-label" for="flexCheckDefault10">
                        Ausritt
                    </label>
                </div>
            </div>
        </div>
    </div>*@
</div>
<hr />
<div class="mb-4 mt-4">
    <h3>Reitzentrum Einstellungen</h3>
</div>
<div class="row ml-2">
    <div class="row w-50">
        <div class="col">
            <div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC1" @bind="@PriceFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC1">
                        Preis
                    </label>
                </div>
                <input type="number" min="20" max="200" step="1" @bind-value="@Bot.Settings.RidingCenterSettings.Price" />
            </div>
            <div class="mt-2">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC2" @bind="@ProfitFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC2">
                        Gewinn
                    </label>
                </div>
                <input type="number" min="0" max="60" step="1" @bind-value="@Bot.Settings.RidingCenterSettings.Profit" />
            </div>
            <div class="mt-2">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC3" @bind="@DurationFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC3">
                        Dauer
                    </label>
                </div>
                <input type="number" min="0" max="60" step="1" @bind-value="@Bot.Settings.RidingCenterSettings.Duration" />
            </div>
        </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC4" @bind="@HayFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC4">
                        Kostenloses Heu
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC5" @bind="@OatFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC5">
                        Kostenloser Hafer
                    </label>
                </div>               
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC6" @bind="@DrinkFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC6">
                        Kostenlose Tränke
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckDefaultRC7" @bind="@ShowerFilterEnabled">
                    <label class="custom-control-label" for="flexCheckDefaultRC7">
                        Kostenlose Dusche
                    </label>
                </div>
            </div>
    </div>
</div>
<hr />
<div class="row d-flex justify-content-center mb-2 mt-4">
    <div class="input-group rounded col-md-3">
        <input type="search" class="form-control rounded" placeholder="Zucht Name" aria-label="Search"
               aria-describedby="search-addon" />
        <span class="input-group-text border-0 ml-1" id="search-addon">
            Suchen
        </span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        @if (Bot.Settings.Breedings.Count == 0)
        {
            <div class="d-flex justify-content-center mt-2">
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }
        <HowrseBreedingsList Breedings="Bot.Settings.Breedings"></HowrseBreedingsList>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col">
        <button class="btn btn-success form-control" @onclick="Save">Speichern</button>
    </div>
    <div class="col">
        <button class="btn btn-danger form-control" @onclick="Cancel">Abbrechen</button>
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    private HowrseBotModel Bot { get; set; }
    private bool PriceFilterEnabled { get; set; }
    private bool DurationFilterEnabled { get; set; }
    private bool HayFilterEnabled { get; set; }
    private bool OatFilterEnabled { get; set; }
    private bool ProfitFilterEnabled { get; set; }
    private bool DrinkFilterEnabled { get; set; }
    private bool ShowerFilterEnabled { get; set; }    

    protected override async Task OnInitializedAsync()
    {
        Bot = BotManagerService.GetBot(Id);

        PriceFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.PriceFilter);
        DurationFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.DurationFilter);
        HayFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.FreeHayFilter);
        OatFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.FreeOatFilter);
        ProfitFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.ProfitFilter);
        DrinkFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.FreeDrinkFilter);
        ShowerFilterEnabled = Bot.Settings.RidingCenterSettings.Filter.HasFlag(RCFilter.FreeShowerFilter);

        if (base.ToString().IsFirstRender())
        {
            List<HowrseBreedingModel> breedingsFromServer = await GRPCService.GetBreedings(Bot);
            if (breedingsFromServer.Count > 0)
            {
                Bot.Settings.Breedings = breedingsFromServer;
            }
        }

        PageFirstRenderHandler.PageFirstRender(base.ToString());
    }

    private void Save()
    {
        List<HowrseBotModel> bots = BotManagerService.GetBots();

        HowrseBotModel bot = bots.SingleOrDefault(_ => _.Id == Id);
        bot.Settings.ChosenBreedings = Bot.Settings.Breedings.Where(_ => _.Checked).ToList();

        bot.Settings.RidingCenterSettings.Filter =
            (PriceFilterEnabled ? RCFilter.PriceFilter : RCFilter.None) |
            (DurationFilterEnabled ? RCFilter.DurationFilter : RCFilter.None) |
            (HayFilterEnabled ? RCFilter.FreeHayFilter : RCFilter.None) |
            (OatFilterEnabled ? RCFilter.FreeOatFilter : RCFilter.None) |
            (ProfitFilterEnabled ? RCFilter.ProfitFilter : RCFilter.None) |
            (DrinkFilterEnabled ? RCFilter.FreeDrinkFilter : RCFilter.None) |
            (ShowerFilterEnabled ? RCFilter.FreeShowerFilter : RCFilter.None);

        SettingsService.SaveBotSettings(bots.Select(_ => _.Settings).ToList());

        NavigationManager.NavigateTo("/aplern");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/aplern");
    }

}
