@using Services;
@using AutoUpdaterClient.Model;
@using AutoUpdaterClient;
@using System.Net;
@using System.ComponentModel;
@using ValCavalluBot.Classes;
@inject AutoUpdaterService AutoUpdaterService;
@inject IJSRuntime JsRuntime;
@using System.Diagnostics;
@using System.IO;

@if (UpdateReady)
{
    <div class="row mt-3 mb-3">
        <div class="bg-info rounded w-100 p-3">
            <div class="d-inline-block">
                @if (!IsDownloading)
                {
                    <h5>Es ist ein neues Update verfügbar!(@UpdateDetails.Version)</h5>
                    <button class="btn btn-primary mt-2" @onclick="DownloadUpdate">Update</button>
                }
                else
                {
                    <h5>Update @UpdateDetails.Version wird heruntergeladen...</h5>
                }
            </div>
            @if (DownloadProgress > 0)
            {
                <div class="mt-2 progress w-100" style="display:inline-block;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: @(DownloadProgress + "%");" aria-valuenow="@DownloadProgress" aria-valuemin="0" aria-valuemax="100">@(DownloadProgress + "%")</div>
                </div>
            }
        </div>
    </div>
}

@code {
    private UpdateModel UpdateDetails { get; set; } = new();
    private bool UpdateReady { get; set; }

    private bool IsDownloading { get; set; }

    private int DownloadProgress = 0;
    private long Received = 0;

    protected override async Task OnInitializedAsync()
    {
        string assemblyVersion = typeof(Program).Assembly.GetName().Version.ToString();
        (UpdateReady, UpdateDetails) = await AutoUpdaterService.CheckForUpdates(assemblyVersion);
    }


    private void DownloadUpdate()
    {
        IsDownloading = true;
        AutoUpdater.OnDownloadProgressChanged += OnDownloadProgressChanged;
        AutoUpdater.OnDownloadCompleted += OnDownloadCompleted;

        AutoUpdaterService.DownloadUpdate(UpdateDetails);
    }

    private void OnDownloadProgressChanged(DownloadProgressChangedEventArgs e)
    {
        Received = e.BytesReceived;
        DownloadProgress = e.ProgressPercentage;
        InvokeAsync(() => StateHasChanged());
    }

    private void OnDownloadCompleted(AsyncCompletedEventArgs e)
    {
        IsDownloading = false;
        UpdateReady = false;
        DownloadProgress = 100;

        InvokeAsync(() => StateHasChanged());

        AutoUpdaterService.UnpackUpdate();

        JsRuntime.InvokeVoidAsync($"window.close");

        Process.Start("AutoUpdaterServerStarter.exe");

        Process.GetCurrentProcess().Kill();
    }


}
