@using Shares.Model;
@using System.Drawing;
@using Services;
@inject IBotManagerService BotManagerService;

<td colspan="6">
    <div class="@(Collapsed? "collapse": "" )">
        <div class="row">
            <div class="col-md pt-1 pb-1 align-middle">
                <label class="m-0">Equus</label>
                <img src="/ICON/Flaticon/SVG/dollar.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>@HowrseUser.Eq</label>
            </div>
            <div class="col-md pt-1 pb-1 align-middle">
                <label class="m-0">Pässe</label>
                <img src="/ICON/Flaticon/SVG/coin.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>@HowrseUser.Passes</label>
            </div>
            <div class="col-md  pt-1 pb-1 align-middle">
                <label class="m-0">Rang</label>
                <img src="/ICON/Flaticon/SVG/podium.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>@HowrseUser.Rank</label>
            </div>
            <div class="col-md  pt-1 pb-1 align-middle">
                <label class="m-0">Pferde</label>
                <img src="/ICON/Flaticon/SVG/horse2.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>@HowrseUser.HorseCount</label>
            </div>
        </div>
        <hr />
        <div class="row mt-3">
            <div class="col-md pl-0">
                <div class="mt-1">
                    <img src="/ICON/Flaticon/SVG/thunder.svg" height="28" width="28" />
                    <div class="progress" style="display:inline-block; width: 200px">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: @(Bot.Horse.Stats.Energy.ToString().Replace(",", ".") + "%");" aria-valuenow="@Bot.Horse.Stats.Energy" aria-valuemin="0" aria-valuemax="100">@(Bot.Horse.Stats.Energy + "%")</div>
                    </div>
                </div>
                <div class="mt-1">
                    <img src="/ICON/Flaticon/SVG/heart.svg" height="28" width="28" />
                    <div class="progress" style="display:inline-block; width: 200px">
                        <div class="progress" style="display:inline-block; width: 200px">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: @(Bot.Horse.Stats.Health.ToString().Replace(",", ".") + "%");" aria-valuenow="@Bot.Horse.Stats.Health" aria-valuemin="0" aria-valuemax="100">@(Bot.Horse.Stats.Health + "%")</div>
                        </div>
                    </div>
                </div>
                <div class="mt-1">
                    <img src="/ICON/Flaticon/SVG/sun.svg" height="28" width="28" />
                    <div class="progress" style="display:inline-block; width: 200px">
                        <div class="progress" style="display:inline-block; width: 200px">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @(Bot.Horse.Stats.Moral.ToString().Replace(",", ".") + "%");" aria-valuenow="@Bot.Horse.Stats.Moral" aria-valuemin="0" aria-valuemax="100">@(Bot.Horse.Stats.Moral + "%")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pl-0">
                <table class="table-borderless">
                    <tbody>
                        <tr>
                            <td class="p-0"><label>Ausdauer</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"><label>Tempo</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"><label>Dressur</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"><label>Galopp</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"> <label>Trab</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"> <label>Springen</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md pl-0">
                <div class="row">
                    <div class="col text-center">
                        <label class="m-0">Ausdauer</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>909</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <label class="m-0">Tempo</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>123</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <label class="m-0">Dressur</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>65</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <label class="m-0">Galopp</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>3451</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <label class="m-0">Trab</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>3645</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <label class="m-0">Springen</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>1231</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pl-0 text-center justify-content-center">
                <div>
                    @if (string.IsNullOrEmpty(HorseSpriteBase64))
                    {
                        <img src="/ICON/Flaticon/SVG/horse.svg" height="180" width="180" />
                    }
                    else
                    {
                        <img src="data:image/bmp;base64, @HorseSpriteBase64" alt="" height="250" width="250" />
                    }
                </div>
                <div class="text-center">
                    @if (!string.IsNullOrEmpty(Bot.Horse.Id))
                    {
                        <label class="text-primary">@Bot.Horse.Name</label>
                        <label class="text-secondary">@("#" + Bot.Horse.Id)</label>
                    }
                </div>
            </div>
        </div>
    </div>
</td>


@code {
    [Parameter]
    public bool Collapsed { get; set; } = false;
    [Parameter]
    public HowrseBotModel Bot { get; set; }

    private string HorseSpriteBase64 { get; set; }
    private HowrseUserModel HowrseUser { get; set; } = new();

    protected override void OnInitialized()
    {
        BotManagerService.Init();
        BotManagerService.OnHorseSpriteChanged += OnHorseSpriteChanged;
        BotManagerService.OnHowrseUserInfoChanged += OnHowrseUserInfoChanged;
    }

    private void OnHorseSpriteChanged(string horseSpriteBase64)
    {
        HorseSpriteBase64 = horseSpriteBase64;
    }

    private void OnHowrseUserInfoChanged(HowrseUserModel howrseUser)
    {
        HowrseUser = howrseUser;
    }
}
